{% extends 'crypto/base.html' %}

{% block content %}
<h1> {{ notfound }} </h1>

{% if cypto_data.Response  %}
<h3> Sorry, {{ quote }} does not exist. Try again! </h3>
{% endif %}


{% for key, value in cypto_data.DISPLAY.items %}
    <br>
    <div class="row align-items-md-stretch">
      <div class="col-md-6">
        <div class="h-100 p-5 text-bg-dark rounded-3">
              <strong>Name</strong>: {{ key }} <br>
              <strong>Price</strong>: {{ value.USD.PRICE }} <br>
              <strong>Day High</strong>: {{ value.USD.HIGH24HOUR }} <br>
              <strong>Day Low</strong>: {{ value.USD.LOW24HOUR }} <br>
              <strong>Market Cap</strong>: {{ value.USD.MKTCAP }} <br>
        </div>
      </div>
        </div>
  {% endfor %}

{% endblock %}





